<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true"
      internalLogLevel="Error"
      internalLogIncludeTimestamp="true" THIS SHOULD NOT BE HERE
      internalLogToConsole = "true"
      internalLogToConsoleError = "true"
      internalLogFile="log/internal-nlog.txt">

  <variable name="AppName" value="test"/>
  <!-- Note! Relative LogRoot for local runs -->
  <variable name="LogRoot" value="log"/>
  <variable name="DatePrefix" value="${date:format=yyyy-MM-dd:universalTime=true}"/>
  <variable name="CompleteLogFile" value="${LogRoot}/${DatePrefix}.${AppName}.complete.log"/>
  <variable name="ErrorLogFile" value="${LogRoot}/${DatePrefix}.${AppName}.error.log"/>
  <variable name="DefaultLayout" value="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${replace-newlines:${exception:format=ToString}}"/>

  <targets>
    <target xsi:type="File" name="completefile" fileName="${CompleteLogFile}" layout="${DefaultLayout}" />
    <target xsi:type="Console" name="logconsole" layout="${DefaultLayout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="completefile" />
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
  </rules>
</nlog>